/* Customize the label (the container) */
.Checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  align-items: center;
  gap: 8px;
  user-select: none;
  display: flex;
}

.Checkbox_input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.Checkbox_checkmark {
  height: 24px;
  width: 24px;
  background: var(--main-white);
  border: 1px solid var(--light-grey-200);
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 4px;
}

.Checkbox_title {
}

.Checkbox input:checked ~ .Checkbox_checkmark {
  background-color: var(--blue-100);
}
