.ProductsTopBar {
  background: var(--main-white);
  display: grid;
  padding: 54px 24px 36px 24px;
  width: 100%;
  grid-template-areas: "logo loginButton"
                        "searchInput searchInput"
                        "checkboxes .";

}

.ProductsTopBar_search-input {
  background: var(--main-white);
  grid-area: searchInput;
  margin-top: 28px;
}

.ProductsTopBar_logo {
  grid-area: logo;
  font-size: 24px;
  align-self: center;
}

.ProductsTopBar_login-button {
  grid-area: loginButton;
  width: 88px;
  justify-self: flex-end;
}

.ProductsTopBar_checkboxes {
  display: flex;
  margin-top: 24px;
  gap: 32px;
  grid-area: checkboxes;
}

@media (min-width: 992px) {
  .ProductsTopBar {
    grid-template-areas: "logo searchInput checkboxes loginButton";
    align-items: center;
  }

  .ProductsTopBar_login-button {
    justify-self: flex-end;
  }

  .ProductsTopBar_checkboxes {
    margin: 0 0 0 24px;
  }

  .ProductsTopBar_search-input {
    margin-top: 0px;
  }
}

@media (min-width: 1200px) {
  .ProductsTopBar {
    padding: 52px 108px;
  }
}