.ProductsTopBar {
  background: #FFFFFF;
  display: grid;
  padding: 54px 24px 36px 24px;
  width: 100%;
  grid-template-areas: "logo loginButton"
                        "searchInput searchInput"
                        "checkboxes .";

}

.ProductsTopBar_search-input {
  background: #FFFFFF;
  grid-area: searchInput;
  margin-top: 28px;
}

.ProductsTopBar_logo {
  grid-area: logo;
  font-size: 24px;
  align-self: center;
  color: var(--black);
}

.ProductsTopBar_login-button {
  grid-area: loginButton;
  min-width: 88px;
}

.ProductsTopBar_checkboxes {
  display: flex;
  margin-top: 24px;
  gap: 32px;
  grid-area: checkboxes;
}

@media (min-width: 1200px) {
  .ProductsTopBar {
    grid-template-areas: "logo searchInput checkboxes loginButton";
    padding: 52px 108px;
    align-items: center;
  }
  .ProductsTopBar_checkboxes {
    margin: 0 0 0 24px;
  }
  .ProductsTopBar_search-input {
    margin-top: 0px;
  }
  .ProductsTopBar_login-button {
    justify-self: flex-end;
  }
}